
/* Cada filme com uma cor específica */
a {
  text-decoration: none; /* remove o sublinhado */
  color: seagreen; /* opcional, define a cor do texto */
}
.darkred { 
  color: darkred; 
  font-size: 20px;
  font-family: Arial;
}

.darkred { 
  color: darkred;
  font-size: 20px;
  font-family: Arial;
 }

.darkblue {
   color: darkblue;
   font-size: 20px;
   font-family: Arial;
   }